body {
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1600px;
}
.headers {
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  width: 1600px;
  height: 80px;
}
.headers_navigation {
  display: flex;
  flex-direction: row;
}
.headers {
  border: 1px solid #ececec;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.logo {
  margin: 20px 93px 0px 215px;
}
.firs_logo {
  color: #2196f3;
}
.style_navigation {
  display: flex;
  flex-direction: row;
}
.style_navigation {
  justify-content: space-around;
}
.navigation {
  color: black;
  font-family: Roboto;
  font-style: Medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.stydio {
  margin: 40px 25px 32px 0px;
}
.stydio:hover {
  color: #2196f3;
}
.portfolio {
  margin: 32px 25px 32px 25px;
}
.portfolio:hover {
  color: #2196f3;
}
.contakts {
  margin: 32px 200px 32px 25px;
}
.contakts:hover {
  color: #2196f3;
}
.style_mail_tel {
  font-family: Roboto;
  font-style: Medium;
  font-size: 14px;
  line-height: 16px;
}
.style_mail_tel {
  display: flex;
  flex-direction: row;
}
.mail {
  margin: 32px 50px 32px 0px;
}
.mail {
  color: rgba(117, 117, 117, 1);
}
.mail:hover {
  color: #2196f3;
}
.tel {
  color: #757575;
}
.tel {
  padding: 20px;
}
.tel {
  margin: 32px 215px 32px 0px;
}
.tel:hover {
  color: #2196f3;
}
.size {
  padding: 94px 0px;
}
.goal {
  background-color: #2f303a;
  text-align: center;
  margin: auto;
}
.main_goal {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  color: #ffffff;
  padding: 200px 452px 30px 452px;
}
.button_goal {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  margin: 0px 700px 200px 700px;
}
.button_goal {
  cursor: pointer;
}
.direction_selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 56px 215px 0px 215px;
}
.location_direction {
  margin: 0px 30px;
}
.text_direction {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: black;
}
.paragraf_direction {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.text_work {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.foto_work {
  display: flex;
  flex-direction: row;
}
.foto_1 {
  margin: 50px 30px 0px 215px;
}
.foto_2 {
  margin: 50px 0px 0px 0px;
}
.foto_3 {
  margin: 50px 215px 0px 30px;
}
.our_team {
  background-color: #f5f4fa;
}
.our_team_selection {
  font-family: Roboto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding: 0px 668px 21px 668px;
  color: black;
}
.image_team {
  display: flex;
  flex-direction: row;
}
.image_team1 {
  margin: 50px 15px 0px 215px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.image_team2 {
  margin: 50px 15px 0px 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.image_team3 {
  margin: 50px 15px 0px 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.image_team4 {
  margin: 50px 215px 0px 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.text_team {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: black;
}
.position_team {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #757575;
}
.legall_adress {
  background-color: #2f303a;
  height: 252px;
  height: 252px;
  padding: 60px 0px 0px 0px;
}
.addres {
  color: #ffffff;
  padding: 20px 0px 9px 0px;
}
.buttons_selection {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}
.text_buttom {
  color: black;
}
.button_1 {
  margin: 0px 30px 0px 400px;
  cursor: pointer;
  width: 73px;
  height: 38;
}
.button_2 {
  margin: 0px 30px 0px 30px;
  cursor: pointer;
  width: 128px;
  height: 38;
}
.button_3 {
  margin: 0px 30px 0px 30px;
  cursor: pointer;
  width: 145px;
  height: 38;
}
.button_4 {
  margin: 0px 30px 0px 30px;
  cursor: pointer;
  width: 103px;
  height: 38;
}
.button_5 {
  margin: 0px 30px 0px 30px;
  cursor: pointer;
  width: 130px;
  height: 38;
}
.text_buttom:hover {
  color: #ffffff;
}
.button_1:hover {
  background-color: #2196f3;
}
.button_2:hover {
  background-color: #2196f3;
}
.button_3:hover {
  background-color: #2196f3;
}
.button_4:hover {
  background-color: #2196f3;
}
.button_5:hover {
  background-color: #2196f3;
}
.kontent_image {
  display: flex;
  flex-wrap: wrap;
  margin-left: 215px;
  margin-top: 50px;
}
.img_kontent {
  margin: 30px 20px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
/* .img_kontent1{
    margin: 120px 30px 0px 200px;
   
}
.img_kontent2{
    margin: 120px 30px 0px 30px;
}
.img_kontent3{
    margin: 120px 30px 0px 30px;
}
.img_kontent4{

    margin: 400px 30px 0px 0px;
}
.img_kontent5{
    width: 370px;
    height: 294px;
    left: 615px;
    top: 696px;
}
.img_kontent6{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 696px;
}
.img_kontent7{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1130px;
}
.img_kontent8{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1130px;
}
.img_kontent9{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1130px;
} */
.text_img_kontent {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: black;
}
.location_img_kontent {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
.logo1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
}
.logo1 {
  padding: 60px 215px;
}
.legall_adress2 {
  background-color: #2f303a;
  height: 252px;
  padding: 60px 0px 0px 0px;
}
.addres {
  margin: 20px 215px;
}
.addres:hover {
  color: #2196f3;
}
.mail1 {
  margin: 20px 215px;
}
.mail1 {
  color: rgba(255, 255, 255, 0.6);
}
.tel1 {
  margin: 20px 215px;
}
.tel1 {
  color: rgba(255, 255, 255, 0.6);
}
.mail1:hover {
  color: #2196f3;
}
.tel1:hover {
  color: #2196f3;
}
