html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", sans-serif;
  max-width: 1600px;
}
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.headers {
  display: flex;
  flex-direction: row;
}
.headers_navigation {
  display: flex;
  flex-direction: row;
}
.header {
  border: 1px solid #ececec;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.logo {
  padding: 24px 0px 25px 30px;
}
.firs_logo {
  color: #2196f3;
}
.headers_div {
  display: flex;
  flex-direction: row;
}
.style_navigation {
  display: flex;
  flex-direction: row;
}
.style_navigation {
  justify-content: space-around;
}
.navigation {
  font-family: Roboto;
  font-style: Medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.navigation {
  padding-top: 15px;
  padding-left: 50px;
}
.stydio1 {
  color: black;
}
.stydio1:hover {
  color: #2196f3;
}
.portfolio1 {
  color: black;
}
.portfolio1:hover {
  color: #2196f3;
}
.contakts1 {
  color: black;
}
.contakts1:hover {
  color: #2196f3;
}
.style_mail_tel {
  font-family: Roboto;
  font-style: Medium;
  font-size: 14px;
  line-height: 16px;
}
.style_mail_tel {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: 280px;
}
.navigation2 {
  padding-top: 15px;
  padding-left: 50px;
  text-align: right;
}
.e_mail {
  color: rgba(117, 117, 117, 1);
}
.e_mail:hover {
  color: #2196f3;
}
.tell {
  color: #757575;
}
.tell:hover {
  color: #2196f3;
}
.h1 .h2 .h3 .p .ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
.size {
  padding: 94px 0px;
}
.goal {
  background-color: #2f303a;
  text-align: center;
}
.main_goal {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  color: #ffffff;
  margin-top: 200px;
  margin-bottom: 30px;
}
.button_goal {
  padding: 10px 32px;
  background-color: #2196f3;
  margin-bottom: 200px;
}
.button_goal {
  cursor: pointer;
}
.direction_selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-left: 0px;
}
.location_direction:nth-child(1) {
  margin-left: 0px;
}
.location_direction:nth-child(n + 1) {
  margin-left: 30px;
  flex-basis: calc((100% - 30px) / 4);
}
.location_direction:nth-child(n + 2) {
  margin-left: 30px;
  flex-basis: calc((100% - 30px) / 4);
}
.location_direction:nth-child(n + 3) {
  margin-left: 30px;
  flex-basis: calc((100% - 30px) / 4);
}
.text_direction {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: black;
}
.paragraf_direction {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.text_work {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  padding-top: 0px;
}
.foto_work {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.foto:nth-child(1) {
  margin-left: 0px;
}
.foto:not(:first-child) {
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 4);
}
.our_team {
  background-color: #f5f4fa;
}
.our_team_selection {
  font-family: Roboto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: black;
}
.image_team1 {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
}
.image_team {
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.image_team:nth-child(1) {
  margin-left: 0px;
}
.image_team :not(:first-child) {
  margin-left: 30px;
  flex-basis: calc((100% - 30px) / 2);
}
.text_team {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: black;
  padding-left: 50px;
}
.position_team {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
  padding-left: 50px;
}
.legall_adress {
  background-color: #2f303a;
}
.legel_div {
  padding-top: 50px;
  padding-bottom: 60px;
}
.logo1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
}
.logo1 {
  margin-left: 30px;
  margin-bottom: 20px;
}
.legal:nth-child(1) {
  padding-bottom: 9px;
}
.legal:nth-child(n + 1) {
  padding-bottom: 9px;
}
.legal:last-child {
  margin-bottom: 0px;
}
.addres1 {
  color: #ffffff;
}
.addres1:hover {
  color: #2196f3;
}
.mail2 {
  color: rgba(255, 255, 255, 0.6);
}
.mail2:hover {
  color: #2196f3;
}
.tel2 {
  color: rgba(255, 255, 255, 0.6);
}
.tel2:hover {
  color: #2196f3;
}
.buttons_selection {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  margin-left: 250px;
}
.boton {
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px solid #f5f4fa;
  padding: 6px 22px;
  text-align: center;
}
.button:first-child {
  margin-left: 0px;
}
.button:not(:first-child) {
  padding-left: 30px;
  flex-basis: calc((100% - 30px) / 16);
}
.button:last-child {
  margin-left: 0px;
  flex-basis: calc((100% - 30px) / 16);
}
.button_1 {
  cursor: pointer;
  width: 73px;
  height: 38;
}
.button_2 {
  cursor: pointer;
  width: 128px;
  height: 38;
}
.button_3 {
  cursor: pointer;
  width: 145px;
  height: 38;
}
.button_4 {
  cursor: pointer;
  width: 103px;
  height: 38;
}
.button_5 {
  cursor: pointer;
  width: 130px;
  height: 38;
}
.button_1:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.button_2:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.button_3:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.button_4:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.button_5:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.kontent_image {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
}
.img_kontent {
  border: 1px solid #eeeeee;
  margin-left: 25px;
  margin-bottom: 30px;
}
.img_kontent:nth-child(1) {
  margin-left: 0px;
}
.img_kontent:nth-child(4) {
  margin-left: 0px;
}
.img_kontent:nth-child(7) {
  margin-left: 0px;
  margin-bottom: 0px;
}
.img_kontent:nth-child(8) {
  margin-bottom: 0px;
}
.img_kontent:nth-child(9) {
  margin-bottom: 0px;
}
.img_kontent_link {
  display: block;
}
.text {
  padding-left: 30px;
}
.text_img_kontent {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: black;
}
.location_img_kontent {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
